<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>建议框</title>
</head>
<body>
<form>
    <table>
        <tr>
            <td>意见标题</td>
            <td><input name="adviseTitle"/> </td>
            <td>意见内容</td>
            <td><input name="adviseBody"/></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="submit" name="adviseSub" value="提交"/></td>
        </tr>
    </table>

</form>
</body>
</html>